<h2>タスク一覧画面です</h2>

<%= form_tag("/task/create") do%>
<p>新規タスク名</p>
<input type="text" name="task_name">
<input type="submit" value="作成">
<% end %>

<%= form_tag("/task/delete") do %>
<table>
    <tr>
        <td>選択</td>
        <td>ID</td>
        <td>タスク名</td>
        <td>担当者</td>
        <td>ステータス</td>
        <td>優先度</td>
        <td>分類</td>
        <td>作成日</td>
        <td>更新日</td>
        <% @tasks.each do |task|%>
    <tr>

        <td><%= check_box "deletelist", task.id %></td>
        <td><%= task.id %></td>
        <td><%= task.name %></td>
        <td><%= task.pic_id %></td>
        <td><%= task.status_id %></td>
        <td><%= task.priority_id %></td>
        <td><%= task.classification_id %></td>
        <td><%=task.created_at%></td>
        <td><%=task.updated_at%></td>

    </tr>
    <%end%>
</table>
<input type="submit" value="削除">
<% end %>