<h2>タスク一覧画面です</h2>

<%= link_to("トップ画面へ","/task/top")%>
<br>
<%= link_to("設定画面へ","/task/setting/status") %>

<%= form_tag("/task/create") do%>
<p>新規タスク</p>
<input type="text" name="task_name">
<input type="submit" value="作成">
<% end %>

<%= link_to("全削除","/task/reset",method:"post")%>

<table>
    <tr>
        <td>ID</td>
        <td>タスク名</td>
        <td>担当者</td>
        <td>ステータス</td>
        <td>優先度</td>
        <td>分類</td>
        <% @tasks.each do |task|%>
    <tr>
        <td><%= task.id %></td>
        <td><%= task.name %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <%end%>
</table>