<h2>タスク一覧画面です</h2>

<%= form_tag("/task/create") do%>
<p>新規タスク名</p>
<input type="text" name="task_name">
<input type="submit" value="作成">
<% end %>

<%= form_tag("/task/delete") do %>
<table>
    <tr>
        <td>選択</td>
        <td>ID</td>
        <td>タスク名</td>
        <td>担当者</td>
        <td>ステータス</td>
        <td>優先度</td>
        <td>分類</td>
        <td>作成日</td>
        <td>更新日</td>
        <td>コメント</td>
        <% @tasks.each do |task|%>
    <tr>
        <% pic= Pic.find_by(id: task.pic_id) %>
        <% status=Status.find_by(id: task.status_id) %>
        <% priority=Priority.find_by(id: task.priority_id) %>
        <% classification=Classification.find_by(id: task.classification_id) %>

        <td><%= check_box "deletelist", task.id %></td>
        <td><%= task.id %></td>
        <td><%= link_to(task.name,"/show/show/#{task.id}") %><br></td>
        <td><%= pic.name if pic %></td>
        <td><%= status.name if status %></td>
        <td><%= priority.name if priority %></td>
        <td><%= classification.name if classification %></td>
        <td><%= task.created_at.strftime('%Y/%m/%d')%></td>
        <td><%= task.updated_at.strftime('%Y/%m/%d')%></td>
        <td><%= task.comment%></td>
    </tr>
    <%end%>
</table>
<input type="submit" value="削除">
<% end %>