<h2>設定画面です</h2>

<%= link_to("タスク一覧へ","/task/index") %>

<%= form_tag("/task/create_status") do%>
<p>新規ステータス</p>
<input type="text" name="status_name">
<input type="submit" value="作成">
<% end %>

<%= form_tag("/task/delete_status") do %>
<table>
    <tr>
        <td>選択</td>
        <td>ID</td>
        <td>ステータス名</td>
        <% @statuses.each do |status|%>
    <tr>
        <td><%= check_box "deletelist", status.id %></td>
        <td><%= status.id %></td>
        <td><%= status.name %></td>
    </tr>
    <%end%>
</table>
<input type="submit" value="削除">
<% end %>