<h2>設定画面です</h2>


<%= form_tag("/setting/create_record/#{@table_name}") do%>
<br>
<%=@name%>を追加
<br>
<input type="text" name="record_name">
<input type="submit" value="作成">
<% end %>

<br>
<%= form_tag("/setting/delete_record/#{@table_name}") do %>
<table>
    <tr>
        <td>選択</td>
        <td>ID</td>
        <td><%=@name%>名</td>
        <% @records.each do |record|%>
    <tr>
        <td><%= check_box "deletelist", record.id %></td>
        <td><%= record.id %></td>
        <td><%= record.name %></td>
    </tr>
    <%end%>
</table>
<input type="submit" value="削除">
<% end %>